<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>CV</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/default.css">

</head>

<body ng-app="profileApp">

<div class="container">

	<div id="profile" ng-controller="profileController">
	
		<!--Overview section-->
		<section class="profile-section row margin-bottom-15">
			<div class="col-md-3">
				<img id="profile-picture" ng-src={{profileImage}}>
			</div>
			
			<div id="profile-overview" class="col-md-9">
				<h1 id="name" ng-bind="name"></h1>
				<p id="headline" ng-bind="headline"></p>
				<p>
					<span id="nationality" ng-bind="nationality">=</span> |
					<span id="job" ng-bind="job"></span>
				</p>
				<table id="contact">
					<tbody>
						<tr>
							<th>Email</th>
							<td ng-bind="email"></td>
						</tr>
						
						<tr>
							<th>Phone number</th>
							<td ng-bind="phoneNumber"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		
		<!--Summary section-->
		<section id="summary" class="profile-section row margin-bottom-15 well">
			<h3 class="section-title">Summary</h3>
			<div ng-repeat="paragraph in summaryParagraphs">
				<p ng-bind="paragraph"></p>
			</div>
		</section>
		
		<!--Experience section-->
		<section id="experience" class="profile-section row margin-bottom-15 well">
			<h3 class="section-title">Experience</h3>
			<ul id="experience-list" class="big-entry-list" ng-repeat="obj in experience">
			
				<li>
					<div class="row">
						<div class="col-md-3">
							<h4 class="item-title" ng-bind="obj.position"></h4>
							<h5 class="item-subtitle" ng-bind="obj.company"></h5>
							<div class="meta">
								<span class="date-range">
									<time ng-bind="obj.time"></time>
								</span>
							</div>
						</div>
						
						<div class="col-md-2">
							<img class="item-logo center-block" ng-src={{obj.logo}}>
						</div>	
					</div>
				</li>
			
			</ul>
		</section>
		
		<!--Project section-->
		<section id="project" class="profile-section row margin-bottom-15 well">
			<h3 class="section-title">Project</h3>
			<ul id="project-list" class="big-entry-list" ng-repeat="obj in project">
			
				<li>
					<h4 class="item-title" ng-bind="obj.name"></h4>
					<div class="meta">
						<span class="date-range" ng-bind="obj.time">
							<time></time>
						</span>
						<p class="project-item-description" ng-bind="obj.description"></p>
					</div>
				</li>
			
			</ul>
		</section>
		
		<!--Skills section-->
		<section id="skills" class="profile-section row margin-bottom-15 well">
			<h3 class="section-title">Skills</h3>
			<ul id="skills-list" ng-repeat="skill in skills">
				<li class="label label-default" ng-bind="skill"></li>		
			</ul>
		</section>
		
		<!--Education section-->
		<section id="education" class="profile-section row margin-bottom-15 well">
			<h3 class="section-title">Education</h3>
			<div id="education-list" class="big-entry-list" ng-repeat="obj in education">
				
				<li>
					<div class="row">
						<div class="col-md-3">
							<h4 class="item-title" ng-bind="obj.name"></h4>
							<h5 class="item-subtitle" ng-bind="obj.degree"></h5>
							<div class="meta">
								<span class="date-range">
									<time ng-bind="obj.time"></time>
								</span>
							</div>
						</div>
						
						<div class="col-md-2">
							<img class="item-logo center-block" ng-src={{obj.logo}}>
						</div>	
					</div>
				</li>
				
			</div>
		</section>
		
	</div>
</div>

<script src="js/angular.js"></script>
<script src="js/script.js"></script>
<script src="js/jquery-2.2.3.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>

