<!DOCTYPE html>

<html ng-app="profileApp">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>CV</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-editable.css">
	<link rel="stylesheet" type="text/css" href="css/default.css">
</head>

<body>

<div class="container">

	<div id="profile" ng-controller="profileController">
	
		<!--Overview section-->
		<section class="profile-section row margin-bottom-15 descendant-hover">
			<div id="profile-picture-container" class="col-md-3">
				<img id="profile-picture" ng-src={{profile.profileImage}}>
				<label id="change-picture-input-label" class="btn btn-primary" for="change-picture-input">Choose picture</label>
				<input id="change-picture-input" type="file" name="pic" accept="image/*">
			</div>
			
			<div id="profile-overview" class="col-md-9">
				<div>
					<h1 id="name" ng-bind="profile.name"></h1>
				</div>
				<div>
					<p id="headline" ng-bind="profile.headline"></p>
				</div>
				
				<div>
					<span id="country" ng-bind="profile.country"></span> |
					<span id="field" ng-bind="profile.field"></span>
				</div>
				<table id="contact">
					<tbody>
						<tr>
							<th>Email</th>
							<td id="email" ng-bind="profile.email"></td>
						</tr>
						
						<tr>
							<th>Phone number</th>
							<td id="phoneNumber" ng-bind="profile.phoneNumber"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		
		<!--Summary section-->
		<section id="summary-section" class="profile-section row margin-bottom-15 well descendant-hover">
			<h3 class="section-title">Summary</h3>
			<div id="summary" ng-bind-html="profile.summary | nl2br"></div>
		</section>
		
		<!--Experience section-->
		<section id="experience-section" class="profile-section row margin-bottom-15 well descendant-hover">
			<h3 class="section-title">Experience</h3>
			<ul id="experience-list" class="big-entry-list" ng-repeat="obj in profile.experience">
			
				<li class="editable-click" ng-click="openExperienceModal(obj)">
					<div class="row margin-bottom-15">
						<div class="col-md-5">
							<h4 class="item-title" ng-bind="obj.position"></h4>
							<h5 class="item-subtitle" ng-bind="obj.company"></h5>
							<div class="meta">
								<div class="date-range">
									<time ng-bind="obj.startDate | monthYearFilter"></time> -
									<time ng-bind="obj.endDate | monthYearFilter"></time>
								</div>
							</div>
						</div>
						
						<div class="col-md-2">
							<img class="item-logo center-block" ng-src={{obj.logo}}>
						</div>	
					</div>
					<div ng-bind-html="obj.description | nl2br"></div>
				</li>
			
			</ul>

			<button id="experience-add-button" class="btn btn-default">Add experience</button>
		</section>
		
		<!--Project section-->
		<section id="project" class="profile-section row margin-bottom-15 well descendant-hover">
			<h3 class="section-title">Project</h3>
			<ul id="project-list" class="big-entry-list" ng-repeat="obj in profile.project">
			
				<li class="editable-click" ng-click="openProjectModal(obj)">
					<h4 class="item-title" ng-bind="obj.name"></h4>
					<div class="meta">
						<span class="date-range">
							<time ng-bind="obj.startDate | monthYearFilter"></time> -
							<time ng-bind="obj.endDate | monthYearFilter"></time>
						</span>
						<p class="project-item-description" ng-bind="obj.description"></p>
					</div>
				</li>
			
			</ul>

			<button id="experience-add-button" class="btn btn-default">Add project</button>
		</section>
		
		<!--Skills section-->
		<section id="skills" class="profile-section row margin-bottom-15 well">
			<h3 class="section-title">Skills</h3>
			<ul id="skills-list" ng-repeat="skill in profile.skills">
				<li class="label label-default" ng-bind="skill"></li>		
			</ul>
		</section>
		
		<!--Education section-->
		<section id="education" class="profile-section row margin-bottom-15 well descendant-hover">
			<h3 class="section-title">Education</h3>
			<ul id="education-list" class="big-entry-list" ng-repeat="obj in profile.education">
				
				<li class="editable-click" ng-click="openEducationModal(obj)">
					<div class="row">
						<div class="col-md-3">
							<h4 class="item-title" ng-bind="obj.name"></h4>
							<h5 class="item-subtitle" ng-bind="obj.degree"></h5>
							<div class="meta">
								<span class="date-range">
									<time ng-bind="obj.startDate | yearFilter"></time> -
									<time ng-bind="obj.endDate | yearFilter"></time>
								</span>
							</div>
						</div>
						
						<div class="col-md-2">
							<img class="item-logo center-block" ng-src={{obj.logo}}>
						</div>	
					</div>
				</li>
				
			</ul>

			<button id="experience-add-button" class="btn btn-default">Add education</button>
		</section>
		
	</div>

	
</div>

<script src="js/jquery-2.2.3.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-editable.js"></script>
<script src="js/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="js/script.js"></script>

</body>
</html>

